/* Font/Font-size - START */
@font-face {
    font-family: 'lato-light';
    src: url('./image/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: 'lato-thin';
    src: url('./image/Lato/Lato-Thin.ttf');
}

@font-face {
    font-family: 'lato-regular';
    src: url('./image/Lato/Lato-Regular.ttf');
}

:root {
    --ion-font-family: 'lato-light';
}

.global-score {
    font-family: 'lato-thin';
    font-size: 100px;
}

.round-score {
    font-size: 35px;
}

.button-font-size {
    font-size: 25px
}
/* Font/Font-size - END */

/* Design du joueur actif et non actif - START */

.player {
    font-size: 45px;
    font-family: 'lato-thin';
}

.current {
    font-family: 'lato-regular';
}

.player canvas {
    opacity: 0;
}

.player.current canvas {
    opacity: 1;
}

/* Design du joueur actif - END */

/* Taille des rows - START */
.small-row-height {
    height: 20%;
}

.medium-row-height {
    height: 35%;
}

.large-row-height {
    height: 45%;
}
/* Taille des rows - END */

/* Margin/Padding - START */
.roll-dice-margin {
    margin-bottom: 25px;
}

.hold-dice-margin {
    margin-top: 25px;
}
/* Margin/Padding - END */

/* Current-score design - START */ 
.round-score-background {
    background-color: rgb(226, 61, 61); 
    max-width: fit-content; 
    margin: auto; 
    padding-left: 40px; 
    padding-right: 40px;
}
/* Current-score design - END */ 

/* background - START */
.game-background {
    background: linear-gradient(217deg, rgba(189, 170, 134, 0.8), rgba(255,0,0,0) 70.71%), 
                linear-gradient(127deg, rgba(173, 136, 32, 0.8), rgba(251, 255, 0, 0) 70.71%), 
                linear-gradient(336deg, rgba(56, 15, 8, 0.8), rgba(255, 0, 0, 0) 70.71%);
}
/* background - END*/


